<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".RuntimeProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".DiagnosticProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.MigrationProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.DurableRepositoryProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.RuntimeDurabilityProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.DurableApprovalRepositoryProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.RestartReconciliationProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
