<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".RuntimeFaultProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.centralbrain.runtime.DEBUG_KILL_PROCESS" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".RuntimeProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".nativebridge.NativeRuntimeProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".blackbox.BlackBoxEnvironmentProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".DiagnosticProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.MigrationProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.DurableRepositoryProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.RuntimeDurabilityProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.DurableApprovalRepositoryProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.RestartReconciliationProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.DurableEffectRepositoryProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.EffectAdapterContractProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.EffectDeliveryActivationProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".model.ModelProviderContractProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".scheduler.InferenceSchedulerContractProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".vehicle.schema.VehicleSignalSchemaProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".vehicle.capability.VehicleCapabilityCatalogProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".vehicle.twin.VehicleDigitalTwinStoreProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".context.ContextSnapshotBuilderProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".model.DeterministicStubProviderProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".model.TestOnlyModelRouterProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".events.BoundedEventRuntimeProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".persistence.DurableEventCursorRepositoryProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".memory.MemoryLifecycleProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".skills.BuiltInSkillRuntimeProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".governance.GovernanceMiddlewareProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
