<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <permission
        android:name="com.centralbrain.permission.BIND_RUNTIME"
        android:protectionLevel="signature" />
    <permission
        android:name="com.centralbrain.permission.ACCESS_DIAGNOSTICS"
        android:protectionLevel="signature" />
    <permission
        android:name="com.centralbrain.permission.BIND_GOVERNANCE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:label="@string/runtime_service_name"
        android:supportsRtl="true">
        <service
            android:name=".CentralBrainRuntimeService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.centralbrain.permission.BIND_RUNTIME" />
        <service
            android:name=".CentralBrainDiagnosticService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.centralbrain.permission.ACCESS_DIAGNOSTICS" />
        <service
            android:name=".CentralBrainGovernanceService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.centralbrain.permission.BIND_GOVERNANCE" />
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            tools:node="remove" />
    </application>
</manifest>
